<h2>Lista de preguntas</h2>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr> 
  <% } %>
</table>
<form method="get" action="/quizes?search">
  Introduzca el texo a buscar entre las preguntas: <p>
  <input type="text" name="search" value="texto a buscar">
  <input type="submit" value="Buscar">
</form>